@font-face {
    font-family: 'PremiumUltra';
    src: url('../fonts/PremiumUltra54.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.preview-text {
    font-family: 'PremiumUltra', sans-serif;
    font-weight: normal;
    line-height: 1.2;
}
